@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

#container{
    border: none;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: url(img/abstract-futuristic-black-blue-gaming-260nw-1822722719.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    font-size: 45px;
    color: powderblue;
    min-width: 80vw;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#condition{
    min-width: 300px;
    border: 1px solid powderblue;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    color: powderblue;
    text-align: center;
}

.row{
    display: flex;
}

.box{
    height: 100px;
    width: 100px;
    margin: 1px;
    border: 0;
    font-size: 50px;
    font-weight: bolder;
    background-color: powderblue;
}

#controlbutton{
    margin: 30px 10px 30px 10px;
    background-color: transparent;
    padding: 13px;
    min-width: 300px;
    border: 5px solid powderblue;
    border-radius: 5px;
    font-size: 18px;
    color: powderblue;
}